sudo: required
services:
  - docker

before_install:
  - docker build -t docker4vkrish/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true docker4vkrish/react-test npm test

after_success:
  - docker build -t docker4vkrish/multi-client ./client
  - docker build -t docker4vkrish/multi-nginx ./nginx
  - docker build -t docker4vkrish/multi-server ./server
  - docker build -t docker4vkrish/multi-worker ./worker  
  #docker login
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # now push those images
  - docker push docker4vkrish/multi-client
  - docker push docker4vkrish/multi-nginx
  - docker push docker4vkrish/multi-server
  - docker push docker4vkrish/multi-worker



